{name, "lhttpc"}.
{authors, ["Oscar Hellstrom <oscar@hellstrom.st>"]}.
{description, "lhttpc is a lightweight HTTP/1.1 client implemented in Erlang"}.
{homepage, "https://github.com/esl/lhttpc"}.
{rebar_compatible, true}.
{license, "BSD", "LICENSE"}.
{url, {git, "https://github.com/esl/lhttpc.git", {tag, "1.2.6"}}}.
{applications, [lhttpc]}.
